
@{
    ViewBag.Title = "JavaScript";
}
<script src="~/Scripts/MyScript.js"></script>
<h2>About Me</h2>

@*<p id="speech">This is my boring Javascript Page. We will make it better.</p>
<p id="speech2">Coding fills me with determination.</p>*@
<h3 class="center" id="factlet"></h3>

@*<ul id="colorsList">
    <li>Red</li>
    <li>Orange</li>
    <li>Blue</li>
    <li>Puce</li>
    <li>Beige</li>
</ul>*@

@*<button onclick="changeSpeech()">Clickety</button>

<button id="alertbutt" onclick="changeAlert()">WHOA</button>*@

<p class="center" ><button class="center" onclick="randomFactButton()">Fun Fact!</button></p>
