
@{
    ViewBag.Title = "MoreDOM";
}
<script src="~/Scripts/MyMoreJS.js"></script>
<h2>MoreDOM</h2>


<ul id="todolist">
    <li>Milk</li>
    <li>Eggs</li>
    <li>Potatoes</li>
    <li>Bacon</li>
</ul>

<button onclick="makeNewItem()">Add Toast</button>
<button onclick="removeItem()">Remove</button>